*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}



body{
    background-color: rgb(2, 2, 13);
    color:white;
    
}


.face1{
    border: 2px red solid;
    margin: 100px auto;
    text-align: center;
    width: fit-content;
    height:430px;

    
    
}

.myimage{
    width:400px;
    clip-path: circle();
}

.name{
    border: 2px red solid;
    margin: 100px auto;
    margin-top: -5px;
    width:fit-content

}

.aboutme{
    border: red 2px solid;
    margin: 100px auto;
    margin-top: -60px;
    width: 300px;
    text-align: center;
    position:relative;
    bottom:20px;
    

}